from pydantic import BaseModel
from typing import Optional
{% if py_imports %}
from datetime import {{ py_imports | join(", ") }}
{% endif %}


class {{ entity.name }}Base(BaseModel):
    {% for f in entity.non_pk_fields %}
    {{ f.name }}: {% if f.nullable %}Optional[{{ f.python_type }}] = None{% else %}{{ f.python_type }}{% endif %}

    {% endfor %}


class {{ entity.name }}Create({{ entity.name }}Base):
    {% for f in entity.non_fk_non_pk_fields %}
    {% if not f.nullable %}
    {{ f.name }}: {{ f.python_type }}
    {% endif %}
    {% endfor %}
    pass


class {{ entity.name }}Update(BaseModel):
    {% for f in entity.non_pk_fields %}
    {{ f.name }}: Optional[{{ f.python_type }}] = None
    {% endfor %}


class {{ entity.name }}Response({{ entity.name }}Base):
    {% if entity.pk_field %}
    {{ entity.pk_field.name }}: {{ entity.pk_field.python_type }}
    {% endif %}

    model_config = {"from_attributes": True}
