package {{ pkg_name }}.dto;

import {{ pkg_name }}.entity.{{ entity.name }};
import lombok.*;
{% for imp in java_imports %}
import {{ imp }};
{% endfor %}

@Getter
@Setter
@NoArgsConstructor
@AllArgsConstructor
@Builder
public class {{ entity.name }}CreateDto {

    {% for f in entity.non_fk_non_pk_fields %}
    private {{ f.java_type }} {{ f.name }};
    {% endfor %}

    public {{ entity.name }} toEntity() {
        return {{ entity.name }}.builder()
                {% for f in entity.non_fk_non_pk_fields %}
                .{{ f.name }}(this.{{ f.name }})
                {% endfor %}
                .build();
    }
}
