package {{ pkg_name }}.entity;

import jakarta.persistence.*;
import lombok.*;
{% for imp in java_imports %}
import {{ imp }};
{% endfor %}
{% if relations %}
import java.util.List;
{% endif %}

@Entity
@Table(name = "{{ entity.name_plural_snake }}")
@Getter
@Setter
@NoArgsConstructor
@AllArgsConstructor
@Builder
public class {{ entity.name }} {

    {% for f in entity.fields %}
    {% if f.primary_key %}
    @Id
    @GeneratedValue(strategy = GenerationType.IDENTITY)
    private {{ f.java_type }} {{ f.name }};

    {% elif f.foreign_key %}
    @Column(name = "{{ f.name }}")
    private {{ f.java_type }} {{ f.name }};

    {% else %}
    @Column({% if not f.nullable %}nullable = false{% endif %})
    private {{ f.java_type }} {{ f.name }};

    {% endif %}
    {% endfor %}
    {% for rel in relations %}
    {% if rel.is_collection %}
    @OneToMany(mappedBy = "{{ entity.name_lower }}", cascade = CascadeType.ALL, fetch = FetchType.LAZY)
    private List<{{ rel.to_entity }}> {{ rel.to_entity | lower }}s;

    {% else %}
    @ManyToOne(fetch = FetchType.LAZY)
    @JoinColumn(name = "{{ rel.to_entity | lower }}_id")
    private {{ rel.to_entity }} {{ rel.to_entity | lower }};

    {% endif %}
    {% endfor %}
}
