package {{ pkg_name }}.dto

import {{ pkg_name }}.entity.{{ entity.name }}
{% for imp in java_imports %}
import {{ imp }}
{% endfor %}

data class {{ entity.name }}CreateDto(
    {% for f in entity.non_fk_non_pk_fields %}
    val {{ f.name }}: {{ f.kotlin_type }}? = null,
    {% endfor %}
) {
    fun toEntity(): {{ entity.name }} = {{ entity.name }}(
        {% for f in entity.non_fk_non_pk_fields %}
        {{ f.name }} = this.{{ f.name }},
        {% endfor %}
    )
}

data class {{ entity.name }}UpdateDto(
    {% for f in entity.non_fk_non_pk_fields %}
    val {{ f.name }}: {{ f.kotlin_type }}? = null,
    {% endfor %}
) {
    fun applyTo(entity: {{ entity.name }}) {
        {% for f in entity.non_fk_non_pk_fields %}
        {{ f.name }}?.let { entity.{{ f.name }} = it }
        {% endfor %}
    }
}

data class {{ entity.name }}ResponseDto(
    {% for f in entity.fields %}
    val {{ f.name }}: {{ f.kotlin_type }}? = null,
    {% endfor %}
) {
    companion object {
        fun from(entity: {{ entity.name }}): {{ entity.name }}ResponseDto = {{ entity.name }}ResponseDto(
            {% for f in entity.fields %}
            {{ f.name }} = entity.{{ f.name }},
            {% endfor %}
        )
    }
}
